body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(https://wallpaperaccess.com/full/3433.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* BG IMG */

/* Navbar */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  0 0 2px rgb(112, 112, 112);
    background-color: white;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-form {
    box-shadow: 0 0 2px gray;
    overflow: hidden;
    border-radius: 15px;
}

.nav-side-form {
    box-shadow: 0 0 2px gray;
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
}

.nav-side-input {
    width: 210px;
    margin-bottom: 1px;
    color: white;
    background-color: rgba(17, 17, 17, 0.911);;
    height: 46px;
    border: 0;
    padding-left: 10px;
    top: 0;
    outline: none;
}

.nav-side-button {
    width: 100px;
    height: 49px;
    border: 0;
    margin: 0;
    outline: none;
    font-size: 14px;
    color: white;
    background-color: rgba(17, 17, 17, 0.911);
    transition: 0.3s;
}

.nav-side-button:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}

.nav-form input[type=text] {
    width: 200px;
    height: 40px;
    border: 0;
    padding-left: 10px;
    outline: none;
}

.nav-form input[type=button] {
    width: 100px;
    height: 46px;
    border: 0;
    outline: none;
    font-size: 14px;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.nav-form input[type=button]:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}

.nav-list {
    text-decoration: none;
    color: gray;
    transition: 0.4s;
}

.nav-list:hover {
    color: black;
}

.nav-btn-res button {
    border: 1px solid gray;
    background-color: white;
    width: 60px;
    height: 50px;
    border-radius: 12px;
    font-size: 22px;
    color: black; 
    transition: 0.3s;
}

.nav-btn-res button:hover {
    color: white;
    background-color: black;
}

.nav-btn-res button:active {
    color: white;
    background-color: black;
}


/* Selected */
.selected-up {
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    transition: 0.3s;
}


.selected-side {
    background-color: white;
    color: black;
    padding: 12px;
    margin-left: 30px;
    /* border: 2px solid black; */
    border-radius: 12px;
    transition: 0.3s;
    font-size: 25px;
    text-decoration: none;
}

/* sidenav */

.nav-side-bar {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(17, 17, 17, 0.911); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  /* The navigation menu links */
  
  /* When you mouse over the navigation links, change their color */
  .nav-side-bar:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    text-decoration: none;
    transition: 0.3s;
    color: rgb(187, 0, 0);
  }

  .sidenav .closebtn:hover {
    color: rgb(255, 0, 0);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

  /* Header */

  .container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-header {
    width: 50%;
    margin: auto;
    height: auto;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(63, 63, 63);
  }
  
  /* list title */

  .container-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .list-title {
    width: 100%;
    text-align: center;
    color: white;
  }

  .list-title h2 {
    font-size: 30px;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
  }

  .list-title hr {
    background-color: white;
    width: 30%;
    height: 5px;
    border: 0;
    border-radius: 12px;
  }

  /* Anime List Card */

  .container-anime-list {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .wrapper-anime-list {
    justify-content: center;
    display: flex; 
    /* margin: 10px; */
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper-anime-list .card .img img {
    width: 100%;
    background-color: white;
    height: 100%;
  }

  .wrapper-anime-list .card {
    display: flex;
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
  }

  .wrapper-anime-list .card .header {
    padding: 20px;
    width: 200px;
    
  }

  .wrapper-anime-list .card .header a {
    text-decoration: none;
    padding: 10px;
    background-color: cyan;
    border-radius: 12px;
    color: white;
  }

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #262626;
  }

  .container-footer .wrapper-footer {
    background-color: #262626;
    color: white;
    display: flex;
    width: 60%;
    padding: 20px;
  }

  .container-footer .wrapper-footer .about-footer {
    width: 50%;
    padding: 20px;
  }

  .container-footer .wrapper-footer .about-admin ul {
    display: flex;
    padding: 20px;
    width: 50%;
  }

  .login-btn {
    padding: 12px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    color: white;
    transition: 0.4s;
  }

  .login-btn:hover {
    background-color: white;
    color: black;
  }

  .login-btn-side {
    padding: 12px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    color: white;
    transition: 0.4s;
    font-size: 25px;
    display: block;
  }

  .login-btn-side:hover {
    background-color: white;
    color: black;
  }



  /* Responsive */
@media only screen and (min-width:849px) {
    .nav-btn-res {
        display: none;
    }
}

@media only screen and (max-width:849px) {
    .nav-form {
        display: none;
    }
    
    ul {
        display: none;
    }

    .wrapper-header {
        width: 80%;
    }
}